/* Reset & Base */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px !important;  
  background-color: #f4f5f9;
  color: #1f1f1f;
}
.app-container::-webkit-scrollbar {
  display: none;
} 