.app-container{
    display: flex;
}

.app-container-inner-div{
  flex: 1;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 240px;
  width: 84vw;
  height: 100vh;
  overflow: scroll;
}

.app-container-inner-div::-webkit-scrollbar {
  display: none;
  background-color: red;
  
} 

/* Responsive */
@media (max-width: 768px) {
  .app-container-inner-div {
    left: 79px;
  }
  
}